<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost">
    <title>Tech Blog</title>
</head>
<body>
    
    <!-- nav bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper orange darken-4">
            <div class="right brand-logo cyan-text text-darken-3">TECH BLOG</div>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <!-- if logged in show dashboard and logout -->
                <li><a href="/">Home</a></li>
                {{#if logged_in}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout" id="logout" type="click" >Logout</a></li>
                {{else}}
                <li><a href="/signup">Sign Up</a></li>
                <li><a class="modal-trigger" href="#modal1">Log In</a></li>
                {{/if}}
            </ul>
            </div>
        </nav>
    </div>

    <!-- sidebar for mobile -->
    <ul class="sidenav" id="mobile-nav">
        <li><a class="orange-text text-darken-4" href="/">Home</a></li>
        <!-- if logged in show dashboard and logout -->
        {{#if logged_in}}
        <li><a class="orange-text text-darken-4" href="/dashboard">Dashboard</a></li>
        <li><a class="orange-text text-darken-4"  href="/logout" id="logout" type="click">Logout</a></li>
        {{else}}
        <li><a class="orange-text text-darken-4" href="/signup">Sign Up</a></li>
        <li><a class="orange-text text-darken-4" class="modal-trigger" href="#modal1">Log In</a></li>
        {{/if}}
    </ul>

    <!-- log in modal -->
    <form id="modal1" class="modal login-form">
        <div class="modal-content">
            <h4 class="center">Logging back in...</h4>
            <div class="row">
                <div class="input-field col s6">
                    <input id="login-email" type="text" class="validate">
                    <label class="active" for="login-email">Email</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s6">
                    <input  id="login-password" type="password" class="validate">
                    <label class="active" for="login-password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close cyan-text text-darken-3 waves-effect waves-green btn-flat" id="login-btn" type="submit">Login
                <i class="material-icons right">thumb_up</i>
            </button>
        </div>
    </form>

    <div class="container">

    {{{ body }}}

    </div>

    {{#if logged_in}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/logout.js"></script>
    {{else}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/login.js"></script>

    {{/if}}

</body>
</html>