<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost">
    <title>Tech Blog</title>
</head>
<body>
    
    <!-- nav bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper orange darken-4">
            <div class="right brand-logo cyan-text text-darken-3">TECH BLOG</div>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <!-- if logged in show dashboard and logout -->
                {{#if logged_in}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">Logout</a></li>
                {{else}}
                <li><a href="/users">Sign Up</a></li>
                <li><a class="modal-trigger" href="#modal1">Log In</a></li>
                {{/if}}
            </ul>
            </div>
        </nav>
    </div>

    <!-- sidebar for mobile -->
    <ul class="sidenav" id="mobile-nav">
        <!-- if logged in show dashboard and logout -->
        {{#if logged_in}}
        <li><a class="orange-text text-darken-4" href="/dashboard">Dashboard</a></li>
        <li><a class="orange-text text-darken-4" href="#">Logout</a></li>
        {{else}}
        <li><a class="orange-text text-darken-4" href="/users">Sign Up</a></li>
        <li><a class="orange-text text-darken-4" class="modal-trigger" href="#modal1">Log In</a></li>
        {{/if}}
    </ul>

    <div class="container">

    {{{ body }}}

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../public/js/script.js"></script>
</body>
</html>