{{!-- create post option for logged in only --}}
</br>
<h5 class="cyan-text text-darken-3">Make some noise!</h5>

<div class="col s12 m6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="input-field col s4">
                    <input id="email" type="email" class="validate">
                    <label for="email">What's on your mind?</label>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Oh really? Tell me more about it!</label>
                        </div>
                    </div>
                </form>
                <div class ="col right">
                    <button class="btn waves-effect waves-light newpost-btn" type="submit" name="action">Create
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../public/js/new-post.js"></script>