</br>
<h5 class="cyan-text text-darken-3">Need to change some things?</h5>

<div class="col s12 m6">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <form class="col s12 editpost-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="post_title" class="materialize-textarea">{{post_title}}</textarea>
                            <label for="textarea1">Remember...!</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="post_content" class="materialize-textarea">{{post_content}}</textarea>
                            <label for="textarea1">...there is no such thing as perfection.</label>
                        </div>
                    </div>

                    <div class ="col right">
                        <button class="btn waves-effect waves-light editpost-btn" type="submit" name="action">Update
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/edit-post.js"></script>