{{!-- GET's all posts to display when not logged in --}}
<h4 class="center cyan-text text-darken-3">Welcome to the TECH BLOG!</h4>
<h5 class="center"> Happy reading and consider<span class="orange-text text-darken-3"> contributing </span>by signing up above!</h5>
</br>

{{#each posts as |post| }}
{{>post-main}}

{{/each}}