<div class="logout-div">
    <hr>
    <h3 class="center cyan-text text-darken-3">THANKS FOR STOPPING BY!</h3>
    </br>
    <h4 class="center"><span class="center orange-text text-darken-4">• • </span>See yah next time!<span class="center orange-text text-darken-4"> • •</span></h4>
    <hr>
</div>