{{!-- GET posts also GET comments --}}
{{>post-main}}

<div class="col s12 m6">
    <div class="card comment-card">
        <div class="card-content">
            <p class="card-title orange-text text-darken-4">Comments:</p>
            <hr>
            {{#each comments as |comment|}}
            {{>comment-main}}
            {{/each}}
        </div>
    </div>
</div>

<!-- creating comment section-->
<div class="col s12 m6">
    <div class="card create-comment-card">
        <div class="card-content">
            <p class="card-title orange-text text-darken-4">Say something!</p>
            <hr>
            {{#if logged_in}}
            <form class="col s12 comment-form">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comment_content" class="materialize-textarea"></textarea>
                        <button class="btn waves-effect waves-light comment-btn" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            {{else}}
            <h6>Want to make a comment? Sign up or log in above!</h6>
            {{/if}}
        </div>
    </div>    
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
